body *{
    margin: 10px;
    border: solid 1px black;
}   


#tooltip{
    position: fixed;
}

#paso3{
    margin-top: 20px;
}

#scroll{
    position: fixed;
    background-color: pink;
    bottom: 5px;
    left: 10px;
    padding: 20px;
}